* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 103px;
    background-color: #a4c8a1;
    color: #3d5b3c;
    transition: background-color 0.6s ease;
}

.button-primary {
    background-color: #ffc107;
    color: #3d5b3c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.5s ease, transform 0.3s ease; 
}

.button-primary:hover {
    background-color: #ffca28;
    transform: scale(1.1);
}

main {
    padding: 20px 0;
}

/* Base styles for navigation */
nav.overview {
    background-color: #fffffff1;
    padding: 20px 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: padding 0.4s ease;
}

/* Expanded version */
nav.overview.expanded .title-container {
    order: -1;
    align-self: self-start;
    text-align: center;
    padding-bottom: 5px;
}

nav.overview.expanded .nav-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1vw;

}

/* For collapsed view */
nav.overview.collapsed {
    flex-direction: row;
    padding: 20px 30px;
}

nav.overview.collapsed .nav-items-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10px;
}

/* Styling the title container */
nav.overview .title-container h1 {
    font-size: 3em;
    margin: 0;
    transition: font-size 0.6s ease;
}

nav.overview.collapsed .title-container h1 {
    font-size: 2.2em;
    padding-right: 20px;
}

/* Styling for nav items and button */
nav.overview .nav-items-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

nav.overview .nav-items-container ul li {
    margin-right: 30px;
}

nav.overview .nav-items-container a.button-primary {
    margin-left: auto;
}

/* Adjust button styles if necessary */
nav.overview h1 a {
    padding-bottom: 10px;
    text-decoration: none;
    color: #3d5b3c;
    font-weight: bold;
    transition: color 0.3s ease;
}


.overview a {
    text-decoration: none;
    color: #3d5b3c;
    font-weight: bold;
    transition: color 0.3s ease;
}

.overview a:hover {
    color: #6FAF6C;
}


nav.overview.collapsed a.button-primary {
    order: -1; /* Ensure button is last */
}

.feature {
    min-height: 900px; 
    margin: 20px 0;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    opacity: 0;
    transform: translateY(100px); 
    transition: opacity 1.2s ease, transform 1.2s ease; /* Slow fade-in and slide-up */
}

.feature-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}

.about,
.cta {
    min-height: 500px;
    padding: 40px;
    text-align: center;
    margin: 20px 0;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #3d5b3c;
    color: #fff;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease; /* Slow transition for footer */
}

/* Scroll animations */
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(100px); }
    100% { opacity: 1; transform: translateY(0); }
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .feature {
        min-height: 600px;
    }

    /* Hide the ul list */
    .overview.expanded .nav-items-container ul,
    .overview.collapsed .nav-items-container ul {
        display: none;
    }

    /* Use flexbox to align the button to the right */
    .overview.collapsed {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
    }

}


/* Modal Styles */
.modal {
    display: none;
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: #ffffff; 
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px; 
    width: 90%;
    max-width: 600px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.close {
    color: #3d5b3c;
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.8em; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

}

.close:hover,
.close:focus {
    font-weight: bold;
    background-color: #ffc107;
    transform: scale(1.1);
    color: #3d5b3c;
    text-decoration: none;
}

